.Subscription-Panel {
  display: flex;
  flex: 1 1 auto;
  background: rgba(46, 39, 54, 0.07);
  border: 1px solid #979797;
  border-radius: 6px;
  flex-direction: column;
}

.Subscription-Panel-Content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.Subscription-Panel-Header {
  display: flex;
  flex: 0 1 auto;
  padding-bottom: 5%;
}

.Subscription-Panel-Body {
  display: flex;
  flex: 10 1 auto;
  flex-direction: column;
}

.Subscription-Panel-Bar-Container {
  display: flex;
  flex: 1 1 auto;
  max-height: -webkit-fill-available;
  border-radius: 3px;
  overflow: hidden;
  background: #2a1542;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  height: 90px;
}

.Subscription-Panel-Bar {
  color: white;
  background: #2a1542;
  height: auto;
  width: -webkit-fill-available;
  display: flex;
}

.Panel-Bar-Left {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}

.Panel-Bar-Right {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Title {
  font-family: HurmeGeometricSans1-SemiBold;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 0;
  padding: 4% 0px 0% 10%;
}

.Subtext {
  font-family: HurmeGeometricSans1-Light;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding: 4% 0% 0% 10%;
}

.Bar-Icon {
}

.Slogan {
  font-family: HurmeGeometricSans1-Light;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  padding: 0% 0% 0% 0%;
  display: flex;
}

.Subscription-Container {
  display: flex;
  flex: 1 1 auto;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Add-Style {
  align-items: center;
  display: flex;
  justify-content: center;
  background: rgba(49, 50, 64, 0.08);
  border: 1px solid #848484;
  box-shadow: inset 0 1px 4px 0 rgba(0, 0, 0, 0.5);
  height: 100px;
}

.Add-Button-Style {
  background: linear-gradient(-90deg, #6b69f9 0%, #6f6eff 100%);
}

.Add-Button-Style:hover {
  background-image: linear-gradient(-90deg, #5276d7 0%, #4c5cf4 100%);
}

.Subscription-Box {
  height: -webkit-fill-available;
  border-radius: 4px;
}

.Subscription-Box-Wrapper {
  height: 300px;
  width: 255px;
  padding: 1% 0% 1% 0%;
}
