.Card {
  border: 1px solid #979797;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: -webkit-fill-available;
  background: #313240;
  border-radius: 4px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.5);
}
.Card-Section {
  display: flex;
  flex-direction: column;
  height: auto;
}
.Card-Top {
  flex: 1 1 auto;
  background: rgba(255, 255, 255, 0.03);
  border-radius: 4px 4px 0 0;
}
.Card-Bottom {
  display: flex;
  flex: 2 1 auto;
}
.Card-Header {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.Card-Header-Bar {
  justify-content: space-between;
  display: flex;
  align-items: baseline;
}
.Card-Status {
  margin-bottom: 12px;
  font-family: HurmeGeometricSans1-SemiBold;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 12px;
}
.Card-Menu-Dots {
  color: #ffffff;
}
.Card-Image {
  display: flex;
  justify-content: center;
  flex: 10 1 auto;
  align-items: center;
}

.Card-Service {
  display: flex;
  flex-direction: column;
  flex: 2 1 auto;
}
.Card-Service-Header {
  display: flex;
  justify-content: space-between;
  flex: 1 1 auto;
  align-items: center;
}
.Card-Service-Name {
  font-family: HurmeGeometricSans1-SemiBold;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
  line-height: 12px;
}
.Card-Service-Price {
  font-family: HurmeGeometricSans1-Light;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 2px;
  text-align: left;
  line-height: 12px;
}
.Card-Service-Description {
  opacity: 0.5;
  font-family: HurmeGeometricSans1-SemiBold;
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: left;
  line-height: 18px;
  flex: 1 1 auto;
}

.Card-Actions {
  display: flex;
  flex: 1 1 auto;
  height: auto;
  border-top: 1px solid rgb(216, 216, 216, 0.1);
  align-items: center;
  justify-content: space-between;
}
.Share-Button {
  background-image: linear-gradient(-90deg, #6b69f9 0%, #6f6eff 100%);
  height: 30px;
  max-width: 80px;
  padding: 0 5% 0% 1% !important;
  align-items: flex-end;
  text-transform: unset !important;
  overflow: hidden;
}
.Share-Button:hover {
  background-image: linear-gradient(-90deg, #698ff9 0%, #6e7cff 100%);
}
.Share-Button-Icon {
  height: 11px;
  line-height: inherit;
  display: flex;
  justify-content: flex-start;
  flex: 1 1 auto;
}
.Share-Button-Text {
  font-size: 13px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  display: flex;
  flex: 1 1 auto;
  height: -webkit-fill-available;
  align-items: center;
}
.Card-Account-Button {
  color: #fff;
  font-family: HurmeGeometricSans1-SemiBold;
  font-size: 13px !important;
  border: 1px solid rgba(255, 255, 255, 1) !important;
  text-transform: unset !important;
  height: 30px;
  max-width: 80px;
  padding: 0 5% 0% 5% !important;
  box-shadow: unset !important;
  background: unset !important;
}
.Card-Account-Button:hover {
  border: 1px solid rgba(114, 102, 255, 1) !important;
  color: #7165ff;
}
