/* Left menu functionality */

.Menu {
  height: 300px;
  flex: 1 1 auto;
  font-family: HurmeGeometricSans1-Regular;
}

.Menu:hover {
  cursor: pointer;
}

.Menu-Row-Wrapper {
  display: flex;
  align-items: center;
  margin: 20% 0% 0% 0%;
}

.Menu-Icon {
  flex: 1 1 auto;
  margin: 0 10% 0 0;
  /*Top, Right, Bottom, Left */
  text-align: center;
  max-width: 50px;
  display: flex;
  justify-content: center;
}

.Menu-Option {
  flex: 1 1 auto;
  font-family: HurmeGeometricSans1-Regular;
  font-size: 18px;
  color: #686767;
  letter-spacing: 0;
}

.Menu-Option:hover {
  color: #4c008e;
}

.Menu-Option-Selected {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: HurmeGeometricSans1-Bold;
  font-size: 18px;
  color: #2e2736;
  letter-spacing: 0;
}
