[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.8.2"
pytz = "==2018.5"
"psycopg2" = "==2.7.3.2"
stripe = "*"
twilio = "*"
django-enumfield = "*"
gunicorn = "==19.6.0"
Django = "==2.1.1"
django-cors-headers = "*"
django-facebook = "*"
djangorestframework-jwt = "*"
graphene-django = ">=2.0"

[dev-packages]

[requires]
python_version = "3.6"
