.Full {
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
}

.Logo-Header {
  font-family: HurmeGeometricSans1-Bold;
  font-size: var(--size);
  letter-spacing: 0.86px;
}

.Subtitle {
  font-family: HurmeGeometricSans1-Light;
  font-size: 24px;
  color: #ffffff;
  letter-spacing: 0.22px;
}

.Theme-Yellow {
  color: #f8be00;
}

.Theme-White {
  color: #fff;
}

.Justify {
  display: flex;
  justify-content: var(--justify);
}

.Align {
  display: flex;
  align-items: var(--align);
}

.Padded {
  padding: var(--padding);
  /*Top, Right, Bottom, Left */
}

.element::-webkit-scrollbar {
  width: 0 !important;
}
