.Dashboard-Left-Wrapper {
  display: flex;
  flex: 1 1 auto;
  display: flex;
  min-width: 20%;
}
.Dashboard-Right-Wrapper {
  flex: 5 1 auto;
  display: flex;
  width: 80%;
}
.Dashboard-Content-Container {
  display: flex;
  flex: 1 1 auto;
}
.Dashboard-Menu-Container {
  display: flex;
  flex: 1 1 auto;
}
.Dashboard-Body-Container {
  display: flex;
  flex: 1 1 auto;
}
