.Box {
  display: flex;
  flex-flow: column;
  height: -webkit-fill-available;
  width: 100%;
  background-color: #e3e8ee;
}

.Dashboard-Background {
  background: #f4f6f7;
}
.Header-Container {
  flex: 0 1 96px;
  display: flex;
  background: #2a1542;
}
.Header-Left {
  flex: 1 1 auto;
  display: flex;
  min-width: 15%;
  align-items: center;
}
.Header-Right {
  flex: 5 1 auto;
  display: flex;
  max-width: 80%;
  align-items: center;
}
.Header-Nav-Wrapper {
  display: flex;
  width: 85%;
  height: inherit;
  margin: 0 0 0 0%; /*Top, Right, Bottom, Left */
  height: 50px;
  align-items: start;
  padding-left: 2%;
}

.Header-Logo-Wrapper {
  display: flex;
  width: 85%;
  height: inherit;
  height: 40px;
  justify-content: center;
}

.Feedback-Wrapper {
  box-shadow: 0 2px 10px 0 rgba(162, 162, 162, 0.5) !important;
  z-index: 1;
}
.Feedback-Row {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.Feedback-Submit {
  padding: 5% 5% 3% 10%; /*Top, Right, Bottom, Left */
  font-size: 14px;
}

.Card-Text-Link {
  font-family: HurmeGeometricSans1-SemiBold;
  font-size: 15px;
  color: #1050ff;
  display: flex;
  flex: 1 1 auto;
  align-items: flex-end;
  max-width: fit-content;
  cursor: pointer;
}
