.box {
  display: flex;
  flex-flow: column;
  height: -webkit-fill-available;
  width: 100%;
  background-color: #e3e8ee;
}

/* Header contains the nav bar functionality */
.header-container {
  flex: 0 1 65px;
  display: flex;
}

.header-left {
  flex: 1 1 auto;
  display: flex;
  max-width: 15%;
}
.header-right {
  flex: 5 1 auto;
  display: flex;
  max-width: 85%;
  align-items: flex-end;
}
.header-nav-wrapper {
  display: flex;
  width: 85%;
  height: inherit;
  margin: 0 0 0 5%; /*Top, Right, Bottom, Left */
  height: 40px;
  align-items: start;
}

.feedback-wrapper {
  box-shadow: 0 2px 10px 0 rgba(162, 162, 162, 0.5) !important;
  z-index: 1;
}
.feedback-row {
  display: flex;
  align-items: center;
  padding-left: 15px;
}

.feedback-submit {
  padding: 5% 5% 3% 10%; /*Top, Right, Bottom, Left */
  font-size: 14px;
}

/* Contains the left menu */
.body-left {
  flex: 1 1 auto;
  display: flex;
  max-width: 15%;
}

/* Right content with paper/cards */
.body-right {
  flex: 5 1 auto; /* width, height */
  display: flex;
  max-width: 85%;
}

.body-content-wrapper {
  display: flex;
  flex-direction: column;
  width: 85%;
  height: inherit;
  margin: 1% 5% 2% 5%; /*Top, Right, Bottom, Left */
}

.body-container {
  display: flex;
  height: -webkit-fill-available;
}

.card-content-wrapper {
  margin: 5px 20px 5px 20px; /*Top, Right, Bottom, Left */
  display: flex;
}

/* The header card is the top most card and page greeting/summary */
.body-title-card {
  display: flex;
  width: 100%;
  height: 18%;
  margin: 0 0 2% 0; /*Top, Right, Bottom, Left */
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(162, 162, 162, 0.5) !important;
}
.body-title-card-content {
  flex-direction: column;
  display: flex;
  flex: 3 1 auto; /* width, height */
}
.body-title-card-header {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; /* width, height */
}
.body-title-card-footer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto; /* width, height */
}
.body-title-card-icon-wrapper {
  flex: 1 1 auto; /* width, height */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.body-title-card-icon {
  margin: 1%;
  height: 80%;
}

/* The content card is contains data and page functionality */
.body-content-card-content-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.body-content-card {
  display: flex;
  flex-grow: 1;
  width: 100%;
  height: 35%;
  background: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(162, 162, 162, 0.5) !important;
  margin: 0 0 2% 0; /*Top, Right, Bottom, Left */
}
.body-content-card-header {
  max-height: 30px;
  flex: 2 1 auto; /* width, height */
  display: flex;
  align-items: center;
  margin: 5px 20px 5px 20px; /*Top, Right, Bottom, Left */
}
.body-content-card-content {
  display: flex;
  flex: 7 1 auto; /* width, height */
  max-height: fit-content;
}
.body-content-card-footer {
  align-items: flex-end;
  flex: 1 1 auto; /* width, height */
  margin: 5px 20px 5px 20px; /*Top, Right, Bottom, Left */
  display: flex;
}
.body-content-card-footer-flex-end {
  justify-content: flex-end;
}
.body-content-card-footer-navigation {
  font-family: HurmeGeometricSans1-SemiBold;
  font-size: 14px;
  display: flex;
  cursor: pointer;
  max-height: 30px;
}
.body-content-card-footer-navigation-option {
  display: flex;
  flex: 1 1 auto;
  margin-right: 10px;
  width: 70px;
  justify-content: center;
}
.text-link-box {
  border: 0.4px solid #e2e2e2;
  border-radius: 6px;
  box-shadow: 0 1px 1px 0 rgba(162, 162, 162, 0.3) !important;
  background-color: #fdfdfd;
  padding: 5px;
  align-items: center;
}
.text-link-box:hover {
  border: 0.5px solid #e2e2e2;
  box-shadow: 0 1px 2px 0 rgba(162, 162, 162, 0.3) !important;
}
.text-link {
  color: #1050ff;
}
.text-link:hover {
  color: #0753c3;
  background-color: #fff;
}

/* Left menu functionality */
.menu {
  flex: 1 1 auto;
  padding: 20% 5% 10% 20%; /*Top, Right, Bottom, Left */
  font-family: HurmeGeometricSans1-Regular;
}
.menu-row-wrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
}
.menu-icon {
  flex: 1 1 auto;
  padding: 0 0 8% 0; /*Top, Right, Bottom, Left */
  margin: 0 5% 0 0; /*Top, Right, Bottom, Left */
  text-align: center;
  max-width: 50px;
}
.menu-option {
  flex: 1 1 auto;
  padding: 0 0 8% 0; /*Top, Right, Bottom, Left */
  justify-content: flex-start;
  font-size: 14px;
}
.menu-option:hover {
  color: #646ba0;
}
.menu-option-selected {
  flex: 1 1 auto;
  padding: 0 0 8% 0; /*Top, Right, Bottom, Left */
  justify-content: flex-start;
  font-size: 14px;
  color: #4f547f;
  font-family: HurmeGeometricSans1-SemiBold;
}

.vertical-flex {
  display: flex;
  flex: 1 1 auto; /* width, height */
}
.title-card-flex {
  display: flex;
  align-items: center;
}

.card-text-h1 {
  font-family: HurmeGeometricSans1-Regular;
  font-size: 20px;
  color: #000000;
}
.card-text-h2 {
  font-family: HurmeGeometricSans1-Regular;
  font-size: 16px;
  color: #838383;
}
.card-text-subtitle {
  font-family: HurmeGeometricSans1-Light;
  font-size: 15px;
  color: #000000;
}
.card-text-link {
  font-family: HurmeGeometricSans1-SemiBold;
  font-size: 15px;
  color: #1050ff;
  display: flex;
  flex: 1 1 auto;
  align-items: flex-end;
  max-width: fit-content;
}
.card-text-link:hover {
  cursor: pointer;
}

.card-text-caption {
  font-family: HurmeGeometricSans1-Light;
  font-size: 14px;
  color: #838383;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
}

.content-table {
  font-family: HurmeGeometricSans1-Light;
  max-width: 100%;
  width: 100%;
  display: flow-root;
}
.content-table-header-wrapper {
  border: 1px solid #e2e2e2;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  display: flex;
  background: #f0f8ff;
}
.content-table-header {
  display: flex;
  flex: 1 1 auto;
  font-family: HurmeGeometricSans1-Light;
  text-transform: uppercase;
  font-weight: initial;
  justify-content: center;
  width: 5%;
  line-height: 30px;
  font-size: 14px;
}

.content-table-body-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-table-body-row {
  display: flex;
  width: 100%;
  flex: 1 1 auto;
  line-height: 30px;
  border-bottom: 1px solid #e2e2e2;
}
.content-table-body-cell {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  width: 5%;
  font-family: HurmeGeometricSans1-Regular;
}
.content-table-body-row:hover {
  background: #f6fafc;
}
.content-table-body-wrapper:hover {
  cursor: pointer;
}

/*  Discover Page  */
.discovery-box-wrapper {
  padding: 7% 20% 10% 0%; /*Top, Right, Bottom, Left */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discover-column-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discovery-icon-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.discovery-text-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.discovery-text-h1 {
  padding: 7% 0% 3% 0%; /*Top, Right, Bottom, Left */
  font-family: HurmeGeometricSans1-Regular;
  font-size: 34px;
  text-transform: uppercase;
}
.discovery-text-subtitle {
  font-family: HurmeGeometricSans1-Light;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0;
  text-align: center;
  line-height: 20px;
}

.account-content {
  display: flex;
  width: 100%;
}
.account-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1 1 auto;
  padding: 2% 0px 0px 5%;
}
.account-field-row {
  display: flex;
  align-items: baseline;
  padding: 0 0 2% 0;
}
.account-field-label {
  font-family: HurmeGeometricSans1-Light;
  font-size: 14px;
  color: #4a4a4a;
  letter-spacing: 0;
}
.account-field-value {
  font-family: HurmeGeometricSans1-Regular;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  padding: 0 0 0 3%;
}
.account-field-address-wrapper {
  padding: 1% 0 0 0%;
  font-family: HurmeGeometricSans1-Regular;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 19px;
}
.account-field-address-box {
  padding: 1% 0 0 0;
}

.button-icon {
  width: 10px;
  margin: 3px 5px 0 0; /*Top, Right, Bottom, Left */
}
