.Bubble-Gradient {
  background-image: url('../../../assets/background/landingOvals.svg');
}

.Landing-Content-Container {
  display: flex;
  height: -webkit-fill-available;
  flex-direction: column;
}

.Landing-Content-Row {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.Landing-Top {
  justify-content: flex-end;
}
.Feature-Container {
  display: flex;
  flex: 1 1 auto;
}
.Subtitle-Container {
  display: flex;
  flex: 1 1 auto;
}
.Feature-Odd {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  padding: 5% 5% 0px 5%;
  justify-content: flex-end;
}
.Feature-Even {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  padding: 5% 5% 0px 5%;
  justify-content: flex-start;
}

.Feature-Title-1 {
  font-family: HurmeGeometricSans1-Light;
  font-size: 32px;
  color: #79c8f2;
  letter-spacing: 0;
}
.Feature-Title-2 {
  font-family: HurmeGeometricSans1-Light;
  font-size: 32px;
  color: #d978ff;
  letter-spacing: 0;
}
.Feature-Title-3 {
  font-family: HurmeGeometricSans1-Light;
  font-size: 32px;
  color: #78c8f3;
  letter-spacing: 0;
}
.Feature-Description {
  font-family: HurmeGeometricSans1-Light;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  line-height: 28px;
}
.Feature-Icon {
  display: flex;
  justify-content: center;
}
